{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "node_modules",
    "build"
  ],
  "rules": {
    "semi": 2,
    "no-var": 2,
    "no-multiple-empty-lines": 2,
    "class-methods-use-this": 1
  }
}
